body {
  background:lightgray;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  margin: 10px;
  color: rebeccapurple;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  color: red;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px ;
  color: green;
  text-align: center;
  padding-left: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: auto;
}